In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-10-03 15:57:14,-23.1203,-134.9692,73.08,64,6,17.31
1,1,Bastia,FR,2021-10-03 15:57:14,42.6667,9.3333,75.00,78,20,17.27
2,2,Asau,RO,2021-10-03 15:57:15,46.4333,26.4000,60.40,67,74,2.04
3,3,Dingle,PH,2021-10-03 15:57:15,10.9995,122.6711,76.21,94,100,5.68
4,4,Qaanaaq,GL,2021-10-03 15:57:15,77.4840,-69.3632,31.89,97,100,10.04

In [3]:
# Get the datatypes of the city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp']
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in temperatures], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent Max Sped
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bastia,FR,2021-10-03 15:57:14,42.6667,9.3333,75.00,78,20,17.27
3,3,Dingle,PH,2021-10-03 15:57:15,10.9995,122.6711,76.21,94,100,5.68
5,5,Monrovia,LR,2021-10-03 15:57:16,6.3005,-10.7969,87.57,77,85,5.77
7,7,Bengkulu,ID,2021-10-03 15:57:17,-3.8004,102.2655,76.64,91,89,6.71
8,8,Solano,US,2021-10-03 15:57:17,38.2333,-121.9511,77.02,44,4,3.53
22,22,Biak,ID,2021-10-03 15:57:22,-0.9131,122.8766,75.83,82,75,5.57
23,23,Mormugao,IN,2021-10-03 15:57:22,15.4000,73.8000,79.86,94,40,5.75
27,27,Mount Isa,AU,2021-10-03 15:57:24,-20.7333,139.5000,82.17,17,7,6.91
28,28,Atuona,PF,2021-10-03 15:57:24,-9.8000,-139.0333,77.14,73,66,18.03
31,31,Mabaruma,GY,2021-10-03 15:57:25,8.2000,-59.7833,86.00,74,75,6.91

In [25]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
# Create hotel dataframe with City, Country, Max Temp, Lat, Lng
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1      Bastia      FR     75.00  42.6667    9.3333
3      Dingle      PH     76.21  10.9995  122.6711
5    Monrovia      LR     87.57   6.3005  -10.7969
7    Bengkulu      ID     76.64  -3.8004  102.2655
8      Solano      US     77.02  38.2333 -121.9511
22       Biak      ID     75.83  -0.9131  122.8766
23   Mormugao      IN     79.86  15.4000   73.8000
27  Mount Isa      AU     82.17 -20.7333  139.5000
28     Atuona      PF     77.14  -9.8000 -139.0333
31   Mabaruma      GY     86.00   8.2000  -59.7833

In [34]:
# Google Maps base URL
g_baseurl = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key,
    'location': '48.8566, 2.3522'
}
# Make request and get the JSON data from the search
hotels = requests.get(g_baseurl, params=params).json

In [36]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #add the latitude and longitude to the location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(g_baseurl, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [39]:
# Store the hotel information into the DataFrame
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]